<div class="footer">
    <div class="columns">
        <div class="column">
            <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> kerktest.nl 2017</p>
            <p>We operate under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International</a> license</p>
        </div>
        <div class="column">
            <p><a href="#">Contact us</a></p>
            <p><a href="/contact">Test</a></p>
        </div>
        <div class="column">
            <p>Phone number: +316...</p>
            <p>Email: <a href="mailto:contact@kerktest.nl">contact@kerktest.nl</a></p>
        </div>
    </div>

    <p>Made by students (tm)</p>
</div>
