<nav class="navbar is-white is-centered has-text-centered" style="background: #00cc66" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-active " >
        <a href="/" class="navbar-item">Home</a>
		<a href="/test" class="navbar-item">De test</a>
		<a href="/kerken" class="navbar-item">Kerken in Nederland</a>
		<a href="/overons" class="navbar-item">Over ons</a>
		<a href="/contact" class="navbar-item">Contact</a>
    </div>
</nav>