<!-- This file describes the basic head, imports css and those things-->
<head>
    <title>KerkTest</title>
    <base href="/"/>
    <link href="css/bulma.css" rel="stylesheet" async>
    <link href="css/kerktest.css" rel="stylesheet" async>
    <link href="css/font-awesome.min.css" rel="stylesheet" async>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>