<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        
    </div>
    <div class="navbar-menu">
        <a href="/" class="navbar-item">Thuis</a>
        <a href="/test" class="navbar-item">Test</a>
        <a href="/churches" class="navbar-item">Kerken in Nederland</a>
        <a href="/about" class="navbar-item">Over ons</a>
        <a href="/contact" class="navbar-item">Contact</a>
    </div>  
</nav>
<section class="hero is-primary mainhead" >
    <div class="hero-body">
        <h1 class="title">Kerktest.nl</h1>
    </div>
</section>
