<nav class="navbar is-white is-centered has-text-centered" style="background: #d9ffbe" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-active " >
        <a href="/" class="navbar-item">Thuis</a>
    </div>
</nav>