<html>
    <% include basics/head %>
    <body>
		<% include basics/header %>
		<section class="hero is-fullheight" id="main_text">
            <div class="hero-body" style="margin: 6em 6em; background: white;">
                <div class="container">
					<h1 class="title">Over ons </h1>
					<p  align="right" style="font-style: italic">
					<q>Wij geloven dat elke christen een kerk nodig heeft waar hij of zij zich mee verbonden voelt.</q>
					</p>
					<br>
					<p>
					Algemeen
					<br>
					De Kerktest is door een diverse groep christelijke studenten uit Leiden ontwikkeld. Leden van het team zijn afkomstig uit de breedte van kerkelijk Nederland: van gereformeerd, katholiek tot evangelisch. Wij streefden ernaar om het kerkelijk landschap toegankelijk te maken voor buitenstaanders die een kerk zoeken. Dit idee komt voort uit het besef dat je het geloof moet voeden en beleven in een christelijke gemeenschap. We hebben zelf mogen ervaren hoe mooi het is om onderdeel te zijn van de kerk en hopen dat onze kerktest ook anderen hierin kan helpen.  
					</p>
					<br>
					<p>
					Achtergrond
					<br>
					Nadat twee leden op dezelfde Amerikaanse kerktest (Christian Denomination Selector) waren gestuit, kwam bij hen het idee op om ook voor Nederland een vergelijkbare test te ontwikkelen. Begin 2017 organiseerden wij een aantal brainstormsessies om te onderzoeken of de bouw van een kerktest realistisch zou zijn. Hiervoor werd een team van ongeveer 10 studenten verzameld en gezamenlijk hebben we een vragenlijst voor de kerktest opgesteld. Eind 2017 gingen twee andere studenten aan de slag met de bouw van een website. Begin 2018 mochten we deze website lanceren. We zijn de Here God daarvoor dankbaar.
					</p>
					<br>
					<p>
					Keuzes
					<br>
					Omdat het kerkelijk landschap in Nederland sterk versnipperd is besloten we kerken in vijf ‘kerkelijke stromingen’ in te delen. We hebben dit gedaan op basis van sterke verwantschap van de leer van kerken. Uiteindelijk zijn we tot de clusters: katholiek, bevindelijk-gereformeerd, orthodox-gereformeerd, modern-gereformeerd, charismatisch- evangelisch en traditioneel evangelisch gekomen.
					</p>
					<br>
					<p>
					We hebben daarbij gebruik gemaakt van kerkelijke clusters die eerder in de literatuur genoemd werden  (bevindelijk-gereformeerd, orthodox-gereformeerd, modern-gereformeerd door em. prof. dr. G. Dekker, VU) en hebben eigen clusters (overige clusters) op verwantschap gevormd. De door ons opgestelde vragenlijst hebben we specifiek op de Nederlandse situatie toegesneden. In de Amerikaanse christian denomination selector, die deze kerktest heeft geïnspireerd, misten we bepaalde vragen. Tegelijk hebben we ook veel vragen in gewijzigde vorm uit deze test overgenomen. De antwoordopties hebben we aan enkele theologen voorgelegd die ons van feedback hebben voorzien.
					</p>
					<br>
					<p>
					Opmerkingen bij gebruik
					<br>
					- Deze kerktest is met alle mogelijke zorgvuldigheid samengesteld. Het kan echter voorkomen dat er fouten in de kerktest staan. Als dit het geval is, horen wij het graag en voeren wij de doorgegeven wijzigingen door.
					<br>
					- Het is nooit onze bedoeling geweest om ‘kerkshoppen’ te bevorderen. Wij vinden het echter wel positief als mensen die niet in hun eigen kerkelijke gemeente kunnen aarden, met een kerk in aanraking komen waar zij dit wel kunnen.
					</p>
                </div>
            </div>
        </section>
        <% include basics/footer %>
    </body>
</html>