.background {
    background: url('../img/signpost.jpg') center;
    background-size: cover;
    filter: blur(3px);

}

.test-answer {
    cursor: pointer;
}
.selected {
    background-color: red;
}

.main-title {
    border-radius: 7px;
    position: relative;
    padding: 10px;
    margin: auto 0;
    font-style: oblique;
}

.main-title h1 {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.68);
}
.main-title h2 {
    font-weight: bold;
    color: rgba(11, 8, 8, 0.75);
}

.welcome p {
    font-size: 1.3em;
    font-style: oblique;
    font-weight: 500;
}

.special-text {
    font-style: oblique;
    font-weight: 200;
}

#main_text {
    background-image: url('../img/signpost.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

#lower_text {
    background-image: url('../img/together.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}