<html>
    <% include ../basics/head %>
    <body>
        <% include ../basics/header %>
        <div class="container">
            <section class="hero is-danger">
                <h1 class="title has-text-centered">Results</h1>
            </section>

            <% result.forEach(function(entry) {%>
                <div class="card">


                    <div class="card-content">
                        <span class="title"><%= entry.church%>:</span>
                        <span class="subtitle"><%= entry.relevance%> points</span>

                    </div>
                </div>
            <%});%>
        </div>
        <% include ../basics/footer %>
    </body>
</html>