<html>
    <% include ../basics/head %>
    <body>
		<% include ../basics/header %>
        <!-- Text content -->
        <section class="hero is-fullheight" id="main_text">
            <div class="hero-body">
                <div class="container">
                    <div class="container main-title has-text-centered">
                        <h1 class="title">Bent u op zoek? </h1>
                        <h2 class="subtitle"> naar een christelijke gemeenschap waar u zich mee verbonden voelt?</h2>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <a href="./test"><button class="is-warning is-large is-centered button is-fullwidth">Doe de test</button></a>
                        </div>
                    </div>
                    <div class="has-text-centered">
                        <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <% include welcome %>
                </div>
                <hr/>
                <a href="./test"><button class="is-warning is-large is-centered button is-fullwidth">Doe de test</button></a>
            </div>
        </section>
        <section class="hero is-fullheight" id="lower_text">
            <div class="tile is-ancestor">
				<div class="tile is-1"></div>
                <div class="tile is-4" style="margin: 4em 0em; background: white;">
                    <div class="container">
                        <div class="hero">
                            <div class="hero-body">
                                <div class="content special-text">
                                    <p style="font-weight: bolder; font-size: x-large; color: black">De test is ontwikkeld door diverse christelijke studenten en het criterium voor de selectie van kerken is geweest dat zij leren om navolgers van de Heer Jezus Christus te zijn en zich verbonden voelen met de Bijbelse overleveringen. Zo hopen wij dat iedere gelovige zijn of haar relatie met God via een bijpassende gemeenschap kan versterken.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-7" >
                </div>
            </div>
        </section>

        <% include ../basics/footer %>
    </body>
</html>