<html>
    <% include ../basics/head %>
    <body>
        <% include ../basics/header %>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <% include welcome %>

                    
                </div>  
                <div class="column">
                    <div class="panel">
                        
                        <a href="./test"><button class="is-warning is-large is-fullwidth button">Doe de test</button></a>
                    </div>
                </div>
            </div>
        </div>
        <% include ../basics/footer %>
    </body>
</html>