
<div class="content welcome">
    <p>Met onze kerktest komt u te weten welke kerken het meest uw opvattingen delen.</p><p> De kerktest is ontwikkeld zodat verschillende christenen een plaats in de gemeente van Christus zullen vinden met gelijkgestemde broeders en zusters. De uitkomst wordt gepresenteerd als een score van overeenkomst met de verschillende kerkstromingen. Wij hebben geprobeerd zo objectief mogelijk te zijn in het opstellen van de test en plakken geen waarde-oordelen aan de uitkomsten.</p>

</div>